.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}
.login_wrap {
    margin: 0 AUTO;
    WIDTH: 250PX;
    BORDER: 1px solid;
    padding: 20px;
    border-radius: 5px;
}
.pannal_inner {
    padding-left: 35px;
}
.input_row {
    padding-bottom: 15px;
}
input#id {
    border-radius: 5px;
    height: 30px;
}
input#pw {
    border-radius: 5px;
    height: 30px;
}
button {
    border-radius: 4px;
    background-color: #81A4EE;
    border: 0px;
    width: 65px;
    height: 30px;
    cursor: pointer;
}
.join {
    border-radius: 4px;
    background-color: #81A4EE;
    border: 0px;
    width: 65px;
    height: 25px; 
}
a.join {
    text-decoration: none;
    color: #000;
    font-size: 13.3px;
    width: 71px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
}
header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    background-color: #81A4EE;
    height: 100px;
}
span.top {
    font-size: 25px;
}
.header {
    padding: 30px;
}
span.btn_text {
    color: #fff;
    font-weight: 100;
}